:root {
    --primary-color: #8896AB;
    --secondary-color: #232C33;
    --tertiary-color: #A63D40;
    --fourth-color: #D8C99B;
    --fifth-color: #FFEFD3;
    --large-font: 28px;
    --medium-font: 20px;
    --small-font: 14px;
    --nav-font: #F5F5F5;
    --font-family: Garamond, sans-serif, arial;
    --secondary-font-family: 'Times New Roman', Times, serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}

h1{
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 1rem;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    color: var(--nav-font)
}

li {
    list-style-type: none;
    font-size: var(--medium-font);
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

main {
    font-size: var(--medium-font);
}

section {
    display: flex;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;
    max-width: 150ch;
}

.references {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 100ch;
    font-size: var(--medium-font);
}

.references p {
    margin-bottom: .5rem;
    padding-left: 30px;
    text-indent: -30px;

}

#ref-title {
    text-align: center;
    font-size: var(--large-font);
    margin-top: 1rem;
}

figcaption {
    font-style: italic;
    font-size: var(--small-font);
    font-family: var(--secondary-font-family);
}

.theorists p {
    margin-bottom: 0.75rem;
}

footer {
    margin: auto auto 0 auto;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    ul {
        display: block;
    }

    li {
        margin-bottom: 0.35rem;
    }

    .page-nav a {
        text-decoration: underline;
    }

    .theorist-nav ul {
        display: flex;
        gap: 8px;
    }

    section {
        flex-flow: row wrap;
        justify-content: center;
    }

    img {
        width: 80vw;
        height: auto;
    }
}